# =========================
# Python
# =========================
venv/
.venv/
env/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Node / React / Vite
# =========================
node_modules/
dist/
build/
.vite/
*.tsbuildinfo

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Testing / Coverage
# =========================
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# =========================
# Docker
# =========================
*.tar

# =========================
# Temporary files
# =========================
*.tmp
*.temp
*.swp